{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <h1 class="text-center">Ferestre duble</h1>
    <div class="spacer30"></div>
    <div class="container">
        <div class="row" id="row">
            {% for fereastra in products %}
                {% include 'AppBundle:Product:product.html.twig' with {entity: fereastra} %}
            {% endfor %}
        </div>
    </div>
{% endblock %}