{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="ferestre_simple">
        <h1 class="text-center">Glafuri</h1>
        <div class="spacer30"></div>
        <div class="container">
            <div class="row" id="row">
                {% for product in products %}
                    {% include 'AppBundle:Product:product.html.twig' with {entity: product} %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}