{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    Tamplarie PVC
{% endblock %}

{% block content %}
    <h1 class="text-center">Tamplarie PVC</h1>
    <div class="spacer30"></div>
    <div class="container">
        <div class="row" id="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/ferestre_simple.php"><img
                                src="{{ asset('bundles/app/imgs/tamplariepvc/ferestre_simple.png') }}"></a>
                    <div class="caption text-center">
                        <h3><a href="/ferestre_simple.php"> Ferestre simple </a></h3>
                        <p><a href="/ferestre_simple.php" class="btn btn-primary" role="button">Vezi produse</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/ferestre_duble.php"><img
                                src="{{ asset('bundles/app/imgs/tamplariepvc/ferestre_duble.png') }}"></a>
                    <div class="caption text-center">
                        <h3><a href="/ferestre_duble.php"> Ferestre duble </a></h3>
                        <p><a href="/ferestre_duble.php" class="btn btn-primary" role="button">Vezi produse</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/usi_balcon.php"><img src="{{ asset('bundles/app/imgs/tamplariepvc/usa-interior.png') }}"></a>
                    <div class="caption text-center">
                        <h3><a href="/usi_balcon.php"> Usi de balcon </a></h3>
                        <p><a href="/usi_balcon.php" class="btn btn-primary" role="button">Vezi produse</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/usi_interior.php"><img
                                src="{{ asset('bundles/app/imgs/tamplariepvc/usa-exterior.png') }}"></a>
                    <div class="caption text-center">
                        <h3><a href="/usi_interior.php"> Usi de interior </a></h3>
                        <p><a href="/usi_interior.php" class="btn btn-primary" role="button">Vezi produse</a></p>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}