/*
 * Header section
 */
.sigla {
    float: left;
    margin: 10px;
}
.termotec {
    margin: 40px 20px;
    float: left;
}

@media (max-width: 768px) {
    .sigla {
        display: none;
    }
    .termotec {
        margin: 10px 5px;
    }
    .termotec img {
        max-width: 100%;
    }
}
.video video{
    float: right;
    max-width: 100%;
}