.sigla {
    float: left;
    margin: 10px;
}

.termotec {
    margin: 40px 20px;
    float: left;
}

@media (max-width: 768px) {
    .sigla {
        display: none;
    }

    .termotec {
        margin: 10px 5px;
    }

    .termotec img {
        max-width: 100%;
    }
}

.video video {
    float: right;
    max-width: 100%;
}

.spacer10, .spacer20, .spacer30 {
    display: block;;
}

.spacer10 {
    height: 10px;
}

.spacer20 {
    height: 20px;
}

.spacer30 {
    height: 30px;
}

.spacer40 {
    height: 30px;
}

.serviciu .thumbnail {
    height: 510px;
}

.contact-info {
    list-style: none;
    margin-left: 50px;
}
